
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;

}

.header,
.footer {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    margin: 0 16px;
    height: 72px;
}

.header {
    font-size: 24px;
    font-weight: 900;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:  16px;
}

.left, .right {
    display: flex;
    align-items: space-between;
    justify-content:center;
    gap: 12px;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
}

li {
    margin:16px;
}
 
a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.content {
    margin: 0 16px;
}